@use "sass:map";

@function getColor($theme, $element) {
    @return map.get(map.get($themes, $theme), $element);
}

// Themes
$themes: (
    global: (
        primary: hsl(276, 56%, 59%),
        secondary: hsl(277, 41%, 69%),
    ),
    dark: (
        background: hsl(278, 3%, 45%),
        background-light: hsl(278, 3%, 55%),
        text: hsl(0, 0%, 100%)
    ),
    light: (
        background: hsl(278, 3%, 70%),
        text: hwb(0 0% 100%)
    )
);
